<div class="row">
{% for card in content['game'].curia.cards %}
    <div class="span3">
        {% embed "action_viewCard.twig" with {'card': card } only %}
        {% endembed %}
    </div>
{% endfor %}
</div>