<!DOCTYPE html>
<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <style type="text/css">
            body { padding: 10px; }
        </style>
    </head>
    <body>
        <table class="table table-condensed">
{% set textColor = { 'message':'indigo' , 'chat':'seagreen' , 'alert':'orange' , 'error':'red' } %}
{% for log in logs %}
            <tr>
                <td class="span2" style="color: gray;">
                    {{ log['time_created']|number_format(0,'','')|date('Y/m/d (H:i:s)')}}    
                </td>
                <td class="span10" style="color:{{textColor[log['type']]}} ; font-weight:bold">
                    {{ log['message']}}
                </td>
            </tr>
{% endfor %}
        </table>
    </body>
</html>