{{content['game'].party[user_id].name}}, 
Leader : 
{%if content['game'].party[user_id].leader.name is defined %}
{{content['game'].party[user_id].leader.name}} ,
{% else %}
None ,
{% endif %}
Treasury : {{ content['game'].party[user_id].treasury}} T<br>
SENATORS :<br>
<div class="row">
{% for senator in content['game'].party[user_id].senators.cards %}
    <div class="span3">
    {% embed "senator.twig" with {'senator': senator , 'leader': (content['game'].party[user_id].leader.senatorID is defined) ? content['game'].party[user_id].leader.senatorID : FALSE } only %}
    {% endembed %}
    </div>
{% endfor %}
</div>