<div class="row">
{% for card in content['game'].party[user_id].hand.cards %}
    <div class="span3">
        {% if card.type=='Statesman' %}
            {% embed "action_viewCardCSS.twig" with {'card': card , 'playable': content['game'].statesmanPlayable (user_id , card) , 'leader' : FALSE } only %}
            {% endembed %}
        {% else %}
            {% embed "action_viewCard.twig" with {'card': card } only %}
            {% endembed %}
        {% endif %}
    </div>
{% endfor %}
</div>