<!DOCTYPE html>
<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <style type="text/css">
            body { padding: 10px; }
        </style>
    </head>
    <body>
        {% set logs = app['db'].fetchAll("SELECT * FROM logs WHERE game_id='" ~ game_id ~ "' AND (recipients IS NULL OR recipients='" ~ user_id ~ "' OR recipients LIKE '%" ~ user_id ~ ";%') ORDER BY time_created DESC") %}
        <table class="table table-condensed">
{% set textColor = { 'message':'indigo' , 'chat':'seagreen' , 'alert':'orange' , 'error':'red' } %}
{% for message in logs %}
            <tr>
                <td class="span2" style="color: gray;">
                    {{ message['time_created']|number_format(0,'','')|date('Y/m/d (H:i:s)')}}    
                </td>
                <td class="span10" style="color:{{textColor[message['type']]}} ; font-weight:bold">
                    {{ message['message']}}
                </td>
            </tr>
{% endfor %}
        </table>
    </body>
</html>