.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

/*
    Cards (400x275 px)
*/

.sprite-Senator {
    position: relative;
    width: 400px;
    height: 275px;
    background-position: -501px -5px;
    z-index: 1;
}

/*
    Standard markers (52x52 px)
*/

.sprite-Marker_-1 {
    width: 52px;
    height: 52px;
    background-position: -5px -5px;
}

.sprite-Marker_0 {
    width: 52px;
    height: 52px;
    background-position: -67px -5px;
}

.sprite-Marker_1 {
    width: 52px;
    height: 52px;
    background-position: -129px -5px;
}

.sprite-Marker_10knights {
    width: 52px;
    height: 52px;
    background-position: -191px -5px;
}

.sprite-Marker_1knight {
    width: 52px;
    height: 52px;
    background-position: -253px -5px;
}

.sprite-Marker_2 {
    width: 52px;
    height: 52px;
    background-position: -315px -5px;
}

.sprite-Marker_2knights {
    width: 52px;
    height: 52px;
    background-position: -377px -5px;
}

.sprite-Marker_3 {
    width: 52px;
    height: 52px;
    background-position: -439px -5px;
}

.sprite-Marker_3knights {
    width: 52px;
    height: 52px;
    background-position: -5px -67px;
}

.sprite-Marker_4 {
    width: 52px;
    height: 52px;
    background-position: -67px -67px;
}

.sprite-Marker_4knights {
    width: 52px;
    height: 52px;
    background-position: -129px -67px;
}

.sprite-Marker_5 {
    width: 52px;
    height: 52px;
    background-position: -191px -67px;
}

.sprite-Marker_5knights {
    width: 52px;
    height: 52px;
    background-position: -253px -67px;
}

.sprite-Marker_6 {
    width: 52px;
    height: 52px;
    background-position: -315px -67px;
}

.sprite-Marker_6knights {
    width: 52px;
    height: 52px;
    background-position: -377px -67px;
}

.sprite-Marker_7 {
    width: 52px;
    height: 52px;
    background-position: -439px -67px;
}

.sprite-Marker_7knights {
    width: 52px;
    height: 52px;
    background-position: -5px -129px;
}

.sprite-Marker_8 {
    width: 52px;
    height: 52px;
    background-position: -67px -129px;
}

.sprite-Marker_8knights {
    width: 52px;
    height: 52px;
    background-position: -129px -129px;
}

.sprite-Marker_9 {
    width: 52px;
    height: 52px;
    background-position: -191px -129px;
}

.sprite-Marker_9knights {
    width: 52px;
    height: 52px;
    background-position: -253px -129px;
}

.sprite-Marker_Corrupt {
    width: 52px;
    height: 52px;
    background-position: -315px -129px;
}

.sprite-Marker_DisbandedFront {
    width: 52px;
    height: 52px;
    background-position: -377px -129px;
}

.sprite-Marker_PriestBack {
    width: 52px;
    height: 52px;
    background-position: -439px -129px;
}

.sprite-Marker_PriestFront {
    width: 52px;
    height: 52px;
    background-position: -5px -191px;
}

.sprite-Marker_PriorConsul {
    width: 52px;
    height: 52px;
    background-position: -67px -191px;
}

.sprite-Marker_RansomBack {
    width: 52px;
    height: 52px;
    background-position: -129px -191px;
}

.sprite-Marker_RansomFront {
    width: 52px;
    height: 52px;
    background-position: -191px -191px;
}

/*
    Office markers (96x96 px)
*/

.sprite-Office_Censor {
    width: 96px;
    height: 96px;
    background-position: -253px -191px;
}

.sprite-Office_Dictator {
    width: 96px;
    height: 96px;
    background-position: -359px -191px;
}

.sprite-Office_Field-Consul {
    width: 96px;
    height: 96px;
    background-position: -5px -297px;
}

.sprite-Office_Master-of-Horse {
    width: 96px;
    height: 96px;
    background-position: -111px -297px;
}

.sprite-Office_Pontifex-Maximus {
    width: 96px;
    height: 96px;
    background-position: -217px -297px;
}

.sprite-Office_Proconsul {
    width: 96px;
    height: 96px;
    background-position: -323px -297px;
}

.sprite-Office_Rome-Consul {
    width: 96px;
    height: 96px;
    background-position: -429px -297px;
}

/*
    Positions
*/

.sprite-position-name {
    font-size: 150%;
    text-shadow: 1px 1px #777777;
    text-align: center ;
    margin-top: 10px;
}

.sprite-position-senatorID {
    position: absolute;
    font-weight: bold;
    left: 190px;
    top: 30px;
    font-size: 120%;
}

.sprite-position-MIL {
    font-size: 150%;
    font-weight: bold;
    text-shadow: 1px 1px #777777;
    text-align: right;
    margin-right: 25px;
    margin-top: 19px;
}

.sprite-position-ORA {
    font-size: 150%;
    font-weight: bold;
    text-shadow: 1px 1px #777777;
    text-align: right;
    margin-right: 25px;
    margin-top: 19px;
}

.sprite-position-LOY {
    font-size: 150%;
    font-weight: bold;
    text-shadow: 1px 1px #777777;
    text-align: right;
    margin-right: 25px;
    margin-top: 19px;
}

.sprite-position-treasury {
    font-size: 300%;
    font-weight: bold;
    text-shadow: 1px 1px #777777;
    text-align: left;
    margin-left: 60px;
    margin-top: -50px;
}

.sprite-position-POP {
    position: absolute;
    left: 25px;
    top: 198px;
}

.sprite-position-INF {
    position: absolute;
    left: 207px;
    top: 198px;
}

.sprite-position-INF10 {
    position: absolute;
    left: 139px;
    top: 198px;
}

.sprite-position-knights {
    position: absolute;
    left: 328px;
    top: 198px;
}

.sprite-position-office {
    position: absolute;
    left: 105px;
    top: 60px;
}

.sprite-position-corrupt {
    position: absolute;
    left: 260px;
    top: 120px;
}
